<%- include('../partials/header') %>

<h1>Add New Web Dev Skill</h1>
<form action="/skills" method="POST">
    <input type="text" name="name">
    <button type="submit">Save New Skill</button>
</form>

<%- include('../partials/footer') %>