<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Express Dev Skills</title>
</head>
<body>
    <main>
        <nav>
            <ul>
                <li><a href="/skills">&lt; Go Back</a></li>
            </ul>
        </nav>

        <div>
            <h1><%= skill.name %></h1>
        </div>
    </main>
</body>
</html>