<%- include('../partials/header') %>

    <main>
        <h1>Web Dev Skill Info</h1>
        <nav>
            <ul>
                <li><a href="/skills">&lt; Go Back</a></li>
            </ul>
        </nav>

        <div>
            <h2>
                <%= skill.name %>
            </h2>
        </div>
    </main>

    <%- include('../partials/footer') %>